body {
  margin: 0;
  background: #F2F2F2;
  
  font-family: Plus Jakarta Sans;
  
}






/*.profile {
  margin-left: 50%; height: 100px;

}

.top-section {
  width: 50%; height: 100px; float: left;
  margin-bottom: 500px;
}*/


/*Layout home page*/

.top-section {
  margin-bottom: 150px;
}

.profile-pic {
  width: 200px;
  border-radius: 50%;
  
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1100px; /*adjust the width to auto adjust*/
  margin: 0 auto;
  
}

.top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.call-button {
  margin-top: 24px;
  
}

.more-info {
  margin-top: 20px;
  margin-bottom: 126px;
}

.grid-container {
  width: 350px;
  height: 322px;
  margin-bottom: 80px;
  padding-left: 5px;
  padding-bottom: 350px;
  background: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 15px;

}

.grid-title, .grid-paragraph {
  position: relative;
  top: -30px;
}

.main-container {
  display: grid;
  grid-template-columns: auto auto auto;

}

.grid-container-one {
  padding-left: 5px;
  padding-bottom: 350px;
  width: 350px;
  height: 322px;
  left: 545px;
  top: 861px;
  margin-bottom: 80px;
  background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 15px;
}

/*Typography and color home page*/


.call-button {
  background: #13183F;
}

.color-logo {
  color:  #FF6F48;
}

.icons {
position: relative;
top: -30px;

}


.grid-header {
  font-family: Plus Jakarta Sans;
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-left: 5px;
  position: relative;
  top: 30px;

}

.grid-title {
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0px;
  color: #13183F;
  margin: 30px;
}

.grid-paragraph {
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  margin: 30px;
  color: #83869A;

}


.heading {
  color: #13183F;
  font-family: Plus Jakarta Sans;
  font-size: 40px;
  font-weight: 800;
  line-height: 71px;
  letter-spacing: 0px;
}
 .top-heading {
    font-family: Plus Jakarta Sans;
    font-size: 56px;
    font-weight: 800;
    line-height: 71px;
    letter-spacing: 0px;
    color: #13183F;
 }

 .top-paragraph {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
  

 }

button {
  background: #13183F;
  color: white;
  border-radius: 28px;
  height: 56px;
  width: 167px;
  border-radius: 28px;
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  border: none;
}



.more-info {
  background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);

}

.top-paragraph {
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  color: #83869A;
 

}


/* Form section*/ 

.form-section {
  width: 400px;
  margin: 0 auto;
 

}
  
  form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
    color: #83869A;
    font-family: Plus Jakarta Sans;

    }
    input {
      width: 100%;
      height: 35px;
      padding: 7px;
      outline: none;
      border-radius: 5px;
      border: 1px solid rgb(220, 220, 220);
     
    }
    textarea {
      max-width: 100%;
      min-width: 100%;
      width: 100%;
      max-height: 100px;
      min-height: 100px;
      padding: 7px;
      outline: none;
      border-radius: 5px;
      border: 1px solid rgb(220, 220, 220);
      
    }
    label {
      margin-top: 1rem;
    }
    input[type="submit"] {
      margin-top: 2rem;
      cursor: pointer;
      background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
      color: #FFFFFF;
      border: none;
      font-family: Plus Jakarta Sans;
    }

    /*MQ*/



/*Proifile card*/


.img-responsive {
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 5px;
  border: 5px solid #83869A;
}


.profile-card-4 {
    display: flex;
    background: #FFFFFF;
    color: #83869A;
    border-radius: 5px;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    overflow: hidden;
    margin: 10px auto;
    cursor: pointer;
    font-family: Plus Jakarta Sans;
}

.profile-card-4 img {
    transition: all 0.25s linear;
    height: 300px;
}

.profile-card-4 .profile-content {
    position: relative;
    padding: 15px;
    background: #FFFFFF;
}





.profile-card-4 .profile-description {
    color: #83869A;
    font-size: 18px;
    padding: 10px;
}




.profile-card-4 .profile-overview h4 {
    color: #83869A;
    font-weight: bold;
}

/*count box*/



.count-component {
  color: #83869A;
  font-family: Plus Jakarta Sans;
  font-weight: bold;
}

.count-box {
  line-height: 0;
  
}

.counter-section {
  max-width: 650px;
  display: flex;
  justify-content: space-between;
}

.count-box {
  width: 200px;
  height: 65px;
  text-align: center;
  color: #83869A;
  font-family: Plus Jakarta Sans;
  padding-bottom: 50px;
  background: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(2, 4, 14, 0.044);
  border-radius: 15px;
}


/*Web creation page layou*/

.portfolio-grid-images {
  width: 500px;
  height: 410px;
  margin: 20px;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
}

.projects-header {
  text-align: center;
  margin-top: 50px;

}

/*Web creation page Typography*/

.projects-header {
  color: #83869A;

}


.portfolio-grid {
  display: grid;
  grid-template-columns: auto auto;
}



/*MQ mobile home page*/
@media  (max-width: 1071px) {
  .main-container, .top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
   

  }

  .top-section {
    display: flex;
    margin: 10px; 
  }

  .wrapper {
  display: flex;
  flex-direction: column;
}

.top-header {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.profile-card-4{
  display: flex;
  flex-direction: column;
}
}





