body {
  margin: 0;
  background: #F2F2F2;
  
}


/*Layout*/

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: pink;
  max-width: 1100px; /*adjust the width to auto adjust*/
  margin: 0 auto;
  
}

.top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.call-button {
  margin-top: 24px;
  
}

.more-info {
  margin-top: 20px;
  margin-bottom: 126px;
}

.grid-container {
width: 350px;
height: 322px;
left: 545px;
top: 861px;
margin-bottom: 60px;
background: #FFFFFF;
box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
border-radius: 15px;
}

.main-container {
  display: grid;
  grid-template-columns: auto auto auto;

}

.grid-container-one {
  width: 350px;
  height: 322px;
  left: 545px;
  top: 861px;
  margin-bottom: 60px;
  background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 15px;
}

/*Typography and color*/

.grid-header {
  font-family: Plus Jakarta Sans;
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin: 30px;

}

.grid-title {
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0px;
  color: #13183F;
  margin: 30px;
}

.grid-paragraph {
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  margin: 30px;

}


.heading {
  color: #13183F;
  font-family: Plus Jakarta Sans;
  font-size: 40px;
  font-weight: 800;
  line-height: 71px;
  letter-spacing: 0px;
}
 .top-heading {
    font-family: Plus Jakarta Sans;
    font-size: 56px;
    font-weight: 800;
    line-height: 71px;
    letter-spacing: 0px;
    color: #13183F;
 }

 .top-paragraph {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
  

 }

button {
  background: #13183F;
  color: white;
  border-radius: 28px;
  height: 56px;
  width: 167px;
  border-radius: 28px;
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  border: none;
}

.more-info {
  background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);

}

.top-paragraph {
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  color: #83869A;
 

}